extends layout

block content
  #price
    h1 Price
    p#usd USD: $#{usd}
    p#mxn MXN: $#{mxn} 
  
  #wrapper
    
    h2 Coin List
    #coinList.tg-wrap
      table.tg
        thead
          tr
            th.tg-us36 Name
            th.tg-yw4l Ticker
            th.tg-yw4l Address
            th.tg-yw4l Price BTC
            th.tg-yw4l Balance
        tbody

    h2 Paid 24hr
    #PaidList
      table
        thead
          tr
            th Name
            th Ticker
            th Address
            th Paid
        tbody

    h2 Add Coin
    #addCoin
      fieldset
        input#inputCoinName(type='text', placeholder='Nombre')
        input#inputCoinTicker(type='text', placeholder='Ticker')
        br
        input#inputCoinAddress(type='text', placeholder='Address')
        input#inputCoinExplorer(type='text', placeholder='Explorer')
        br
        input#inputCoinPool(type='text', placeholder='Pool')
        input#inputCoinExchange(type='text', placeholder='Exchange')
        br
        button#btnAddUser Add Coin